In [11]:
import pandas as pd 
# df = pd.read_csv('/tmp/data/corr_data.csv')
df = pd.read_parquet('/tmp/data/corr_data.parquet')
df.head()

,DATA_DUMP_DATE,corr_calc_days,ticker_1,ticker_2,close_correlation,volume_correlation,beta_1,beta_2,beta_diff,marketCap_1,marketCap_2,marketCap_diff,shortName_1,shortName_2,sector_1,sector_2,same_sector,industry_1,industry_2,same_industry
0,2024-09-12,10,A,AAL,-0.629827,0.081053,1.054,1.433,0.359583,3.918866e+10,7.144940e+09,4.484814,"Agilent Technologies, Inc.","American Airlines Group, Inc.",Healthcare,Industrials,0,Diagnostics & Research,Airlines,0
1,2024-09-12,10,A,AAPL,0.906538,0.616448,1.054,1.240,0.176471,3.918866e+10,3.387017e+12,85.428498,"Agilent Technologies, Inc.",Apple Inc.,Healthcare,Technology,0,Diagnostics & Research,Consumer Electronics,0
2,2024-09-12,10,A,ABBV,0.149252,-0.634864,1.054,0.619,0.702746,3.918866e+10,3.427053e+11,7.745010,"Agilent Technologies, Inc.",AbbVie Inc.,Healthcare,Healthcare,1,Diagnostics & Research,Drug Manufacturers—General,0
3,2024-09-12,10,A,ABNB,0.402362,0.112144,1.054,1.166,0.106262,3.918866e+10,7.422116e+10,0.893945,"Agilent Technologies, Inc.","Airbnb, Inc.",Healthcare,Consumer Cyclical,0,Diagnostics & Research,Travel Services,0
4,2024-09-12,10,A,ABT,-0.604274,0.288022,1.054,0.722,0.459834,3.918866e+10,2.032725e+11,4.187023,"Agilent Technologies, Inc.",Abbott Laboratories,Healthcare,Healthcare,1,Diagnostics & Research,Medical Devices,0

In [14]:
df.iloc[1:100].to_csv('/Users/jinwenliu/github/stock-corr-streamleet/data/corr_data.csv', index=False)

In [10]:
import pandas as pd

# Assuming the DataFrame is named 'df' and contains all the necessary columns

# Get the latest DATA_DUMP_DATE
latest_date = df['DATA_DUMP_DATE'].max()

# Filter the DataFrame for the latest date
df_latest = df[df['DATA_DUMP_DATE'] == latest_date]

# Create a dictionary to map corr_calc_days to new column names
corr_dict = {
    10: 'corr_10',
    22: 'corr_22',
    45: 'corr_45',
    66: 'corr_66',
    125: 'corr_125',
    250: 'corr_250',
    500: 'corr_500',
    1250: 'corr_1250'
}

# Pivot the DataFrame to create columns for each corr_calc_days
df_pivoted = df_latest.pivot_table(
    index=['DATA_DUMP_DATE', 'ticker_1', 'ticker_2'],
    columns='corr_calc_days',
    values='close_correlation',
    aggfunc='first'
).reset_index()

# Rename the columns
df_pivoted.rename(columns=corr_dict, inplace=True)

# Select and order the columns
result = df_pivoted[['DATA_DUMP_DATE', 'ticker_1', 'ticker_2'] + list(corr_dict.values())]

# Rename DATA_DUMP_DATE to LATEST_DATE
result = result.rename(columns={'DATA_DUMP_DATE': 'LATEST_DATE'})

# Sort the DataFrame
result = result.sort_values(['ticker_1', 'ticker_2'])

# Reset the index if needed
result = result.reset_index(drop=True)

# Display the result
print(result)

corr_calc_days LATEST_DATE ticker_1 ticker_2   corr_10   corr_22   corr_45  \
0               2024-09-12        A      AAL -0.629827 -0.195514 -0.064977
1               2024-09-12        A     AAPL  0.906538  0.898201  0.076518
2               2024-09-12        A     ABBV  0.149252  0.377119  0.814889
3               2024-09-12        A     ABNB  0.402362  0.355989 -0.615546
4               2024-09-12        A      ABT -0.604274 -0.172107  0.658712
...                    ...      ...      ...       ...       ...       ...
123251          2024-09-12      YUM     ZBRA  0.384394  0.410779  0.329683
123252          2024-09-12      YUM      ZTS -0.726134 -0.535810  0.523115
123253          2024-09-12      ZBH     ZBRA  0.400937  0.590344  0.509208
123254          2024-09-12      ZBH      ZTS -0.845463 -0.822677 -0.361790
123255          2024-09-12     ZBRA      ZTS -0.396207 -0.700611  0.042062

corr_calc_days   corr_66  corr_125  corr_250  corr_500  corr_1250
0              -0.486641  0.595213  0.295079  0.126515  -0.150462
1               0.165292 -0.448229  0.210583 -0.253035   0.704482
2               0.873903 -0.005701  0.659533  0.412483   0.627082
3              -0.771940  0.067636  0.518165 -0.091821   0.162223
4               0.774870  0.301318  0.748081  0.490846   0.847509
...                  ...       ...       ...       ...        ...
123251          0.111520 -0.296616  0.756604  0.469183   0.204450
123252          0.264119 -0.350568 -0.033647  0.493907   0.684328
123253          0.560732 -0.493169  0.077392  0.185766   0.477278
123254          0.200291 -0.628171  0.179159  0.135601   0.074240
123255          0.672558  0.799241  0.082854  0.132797   0.645814

[123256 rows x 11 columns]

In [5]:
result.head()

corr_calc_days,LATEST_DATE,ticker_1,ticker_2,corr_10,corr_22,corr_45,corr_66,corr_125,corr_250,corr_500,corr_1250
0,2024-09-12,A,AAL,-0.629827,-0.195514,-0.064977,-0.486641,0.595213,0.295079,0.126515,-0.150462
1,2024-09-12,A,AAPL,0.906538,0.898201,0.076518,0.165292,-0.448229,0.210583,-0.253035,0.704482
2,2024-09-12,A,ABBV,0.149252,0.377119,0.814889,0.873903,-0.005701,0.659533,0.412483,0.627082
3,2024-09-12,A,ABNB,0.402362,0.355989,-0.615546,-0.771940,0.067636,0.518165,-0.091821,0.162223
4,2024-09-12,A,ABT,-0.604274,-0.172107,0.658712,0.774870,0.301318,0.748081,0.490846,0.847509

In [7]:
result.rename_axis('index', inplace=True)
result.head()

corr_calc_days,LATEST_DATE,ticker_1,ticker_2,corr_10,corr_22,corr_45,corr_66,corr_125,corr_250,corr_500,corr_1250
index,,,,,,,,,,,
0,2024-09-12,A,AAL,-0.629827,-0.195514,-0.064977,-0.486641,0.595213,0.295079,0.126515,-0.150462
1,2024-09-12,A,AAPL,0.906538,0.898201,0.076518,0.165292,-0.448229,0.210583,-0.253035,0.704482
2,2024-09-12,A,ABBV,0.149252,0.377119,0.814889,0.873903,-0.005701,0.659533,0.412483,0.627082
3,2024-09-12,A,ABNB,0.402362,0.355989,-0.615546,-0.771940,0.067636,0.518165,-0.091821,0.162223
4,2024-09-12,A,ABT,-0.604274,-0.172107,0.658712,0.774870,0.301318,0.748081,0.490846,0.847509